form {
    display: flex;
    justify-content: space-between;
}

input {
    width: 70%;
    border: #B56B07 solid 2px;
    border-radius: 5px;
    height: 40px;
}

input::placeholder {
    padding-left: 10px;
}



#submit {
    color:white;
    width: 120px;
    background-color: #B56B07;
    border: #B56B07 solid 2px;
    border-radius: 5px;
    height: 46px;
}